# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# turbo
.turbo/

# env files
.env*.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# debug
npm-debug.log*

# vercel
.vercel
